#drivers {
  display: flex;

  select {
    font-weight: bold;
    font-size: 1rem;
    color: black;
    margin: 0;
    padding: 0;
    padding-left: 1rem;
    padding-right: 1rem;
    transform: translateX(1rem);
    background-color: transparent;
    border: none;
    appearance: none;
    outline: none;
  }
}

#libraries {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  #wrapper {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    position: relative;
  }
}

#categories {
  flex: 1 0 20%;
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
  overflow: visible;
  position: relative;
  z-index: 2;

  ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    padding-bottom: max(env(safe-area-inset-bottom), 1rem);
    overflow-y: scroll;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }

    li {
      font-weight: bold;
      font-size: 1.25rem;
      color: #cbcbcb;
      transition: all 0.35s;
      padding-top: 0.5rem;
      cursor: pointer;
    }
  }

  .selected {
    color: black;
    font-size: 1.5rem;
    cursor: default;
  }
}

#list {
  flex: 5 0 80%;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-top: 0.5rem;
  overflow-y: scroll;
  scrollbar-width: none;
  padding-bottom: max(env(safe-area-inset-bottom), 1rem);
  box-sizing: border-box;
  position: relative;
  z-index: 1;

  &::-webkit-scrollbar {
    display: none;
  }

  #content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(calc(125px), 1fr));
    margin-right: 1rem;
    column-gap: 1rem;
    row-gap: 1rem;

    .manga {
      padding: 0;
      margin: 0;
      position: relative;
      cursor: pointer;

      p {
        font-size: 1rem;
        padding: 0;
        margin: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .latest {
        font-size: 0.75rem;
        color: #cbcbcb;
        font-weight: bold;
      }

      @mixin overlay($theme: #ff0055aa) {
        z-index: 2;
        position: absolute;
        background-color: $theme;
        color: white;
        font-weight: bold;
        font-size: 1rem;
        padding: 0.125rem;
        padding-left: 1rem;
        padding-right: 1rem;
        backdrop-filter: blur(10px);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 1.5rem;
        white-space: nowrap;
      }

      .end {
        @include overlay;
        border-radius: 0.5rem 0 0.5rem 0;
      }

      .driverID {
        @include overlay(#006affaa);
        border-radius: 0.5rem 0 0 0.5rem;
        right: 0;
        bottom: 4.9rem;
      }

      .mangaID {
        @include overlay(#006affaa);
        border-radius: 0.5rem 0 0 0.5rem;
        right: 0;

        bottom: 3rem;
      }

      img {
        aspect-ratio: 9/12;
        object-fit: cover;
        border-radius: 0.5rem;
        width: 100%;
      }
    }
  }

  #loader {
    display: flex;
    justify-content: center;
    transform: translateX(-25px);
  }

  #noMatchManga {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-3rem);
    padding: 0;
    margin: 0;
    height: 100%;
    opacity: 0.5;
    font-size: 1.5rem;
  }
}

#search {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  z-index: 3;

  input {
    width: calc(100% - 3rem);
    border: none;
    padding: 0;
    padding-left: 1rem;
    padding-right: 0;
    outline: none;
    margin-left: 1rem;
    margin-top: 0.5rem;
    font-size: 1rem;
    height: 2rem;
    border-radius: 0.75rem;
    background-color: #efefef;
  }

  .icon {
    position: absolute;
    right: 1.5rem;
    top: 0.75rem;
  }
}

#suggestions {
  position: absolute;
  top: 2.5rem;
  left: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0.5rem;
  margin: 0;
  list-style-type: none;
  width: calc(100% - 3rem);
  min-width: 350px;
  background-color: #ffffffee;
  border-radius: 0.75rem;
  backdrop-filter: blur(5px);

  li {
    font-size: 1rem;
    padding: 0;
    margin-top: 0.5rem;
    padding-bottom: 0.5rem;
    cursor: pointer;
    padding-left: 0.5rem;
    border-bottom: 1px solid #ccc;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    font-weight: normal;

    span {
      color: #777;
    }
  }

  :last-child {
    border-bottom: 0;
  }
}
