.login-enter {
  opacity: 0;
}

.login-enter-active {
  opacity: 1;
  transition: opacity 250ms;
}

.login-exit-active {
  opacity: 0;
  transition: opacity 250ms;
}

.loginWrapper {
  .loginContent {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 100%;
    margin: 1rem;
    max-width: 400px;
    padding: 2rem;
    padding-bottom: 0.5rem;
    padding-top: 0;
    border-radius: 1rem;
    z-index: 2;

    .row {
      display: flex;
      margin-bottom: 1rem;
      width: 100%;
      align-items: center;
      justify-content: center;
      gap: 1rem;
    }

    img {
      width: 10rem;
    }

    h2 {
      margin: 0;
      transform: translateY(-1rem);
    }
  }

  .background {
    background-color: #00000044;
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
  }

  .login {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
