.createUser-enter {
  opacity: 0;
}

.createUser-enter-active {
  opacity: 1;
  transition: opacity 250ms;
}

.createUser-exit-active {
  opacity: 0;
  transition: opacity 250ms;
}

.createUserWrapper {
  .createUser {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

    .background {
      background-color: #00000044;
      height: 100vh;
      width: 100vw;
      position: absolute;
      top: 0;
      left: 0;
    }

    .createUserContent {
      background-color: white;
      padding: 2rem;
      position: relative;
      z-index: 2;
      border-radius: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin: 1rem;
      max-width: 400px;
      gap: 1rem;

      span {
        gap: 1rem;
        display: flex;
        width: 100%;
      }
    }
  }
}
