.userSettings-enter {
  opacity: 0;
}

.userSettings-enter-active {
  opacity: 1;
  transition: opacity 250ms;
}

.userSettings-exit-active {
  opacity: 0;
  transition: opacity 250ms;
}

.userSettingsWrapper {
  .userSettings {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

    .background {
      background-color: #00000044;
      height: 100vh;
      width: 100vw;
      position: absolute;
      top: 0;
      left: 0;
    }

    .userSettingsContent {
      background-color: white;
      padding: 2rem;
      position: relative;
      z-index: 2;
      border-radius: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
      width: 100%;
      margin: 1rem;
      max-width: 400px;

      .email {
        margin-bottom: 1rem;
      }

      .logout {
        margin-top: 1rem;
      }

      span {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
      }
    }
  }
}
