.content-enter {
  transform: translateY(100%);
}

.content-enter-active {
  transform: translateY(0);
  transition: transform 500ms;
}

.content-exit-active {
  transform: translateY(100%);
  transition: transform 500ms;
}

.background-enter {
  opacity: 0;
}

.background-enter-active {
  opacity: 1;
  transition: opacity 500ms;
}

.background-exit-active {
  opacity: 0;
  transition: opacity 500ms;
}

.details {
  height: 100%;
  width: 100%;

  .close {
    background-color: #00000077;
    position: absolute;
    padding: 0.25rem;
    border-radius: 50%;
    top: calc(1rem + env(safe-area-inset-top));
    display: flex;
    justify-content: center;
    align-items: center;
    left: 1rem;
    cursor: pointer;
  }

  .baseInfo {
    display: flex;
    flex-direction: column;

    .categories {
      list-style-type: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: row;
      font-size: 1rem;
      color: #888888;

      li {
        margin-right: 0.25rem;
      }
    }

    .title {
      margin: 0;
      padding: 0;
      font-size: 2rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      user-select: all;
      cursor: text;
    }

    .author {
      list-style-type: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: row;
      font-size: 1rem;
      color: #888888;
      font-weight: bold;
      cursor: pointer;

      li {
        margin-right: 0.25rem;
      }
    }

    p {
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
      overflow: scroll;
      scrollbar-width: none;

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  .episodesWrapper {
    .status {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;

      h2 {
        padding: 0;
        margin: 0;
      }

      .extra {
        font-weight: bold;
        color: #bdbdbd;
        background-color: #efefef;
        padding: 1rem;
        font-size: 1rem;
        border-radius: 2rem;
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.3s;
        cursor: pointer;
      }

      .enable {
        color: white;
        background-color: #575757;
      }
    }

    .episodes {
      display: grid;
      list-style-type: none;
      padding: 0;
      margin: 0;
      overflow-y: scroll;
      scrollbar-width: none;
      margin-top: 0.5rem;
      grid-template-columns: repeat(auto-fill, minmax(calc(75px), 1fr));
      column-gap: 0.75rem;
      row-gap: 0.75rem;

      li {
        cursor: pointer;
        background-color: #f4f4f4;
        color: #a9a4a4;
        font-weight: bold;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 0.5rem;
        border-radius: 1rem;
        font-size: 1rem;
        text-align: center;
        height: 1.5rem;
      }

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  .options {
    display: flex;
    flex-direction: row;
    cursor: pointer;

    div {
      border: 0.125rem solid #575757;
      border-radius: 0.75rem;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 2.5rem;
      padding-left: 1rem;
      padding-right: 1rem;
    }

    .notCollected {
      width: 20%;
      color: white;
      background-color: #575757;
    }

    .collected {
      width: 20%;
      color: #575757;
    }

    .read {
      width: calc(80% - 3rem);
      margin-left: 1rem;

      h3 {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 1.5rem;
        margin: 0;
        width: 100%;
        text-align: center;
      }
    }
  }

  .vertical {
    position: relative;
    height: 100%;
    width: 100%;

    .background {
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      width: 100%;

      img {
        width: 100%;
        pointer-events: none;
      }

      .close {
        top: env(safe-area-inset-top);
      }
    }

    .content {
      position: absolute;
      z-index: 2;
      height: 65%;
      width: calc(100% - 2rem);
      bottom: 0;
      background-color: white;
      border-radius: 1rem 1rem 0 0;
      box-shadow: 0 -5px 10px #00000044;
      padding: 1rem;
      padding-bottom: max(env(safe-area-inset-bottom), 1rem);
      display: flex;
      flex-direction: column;

      .swipable {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 3rem;
      }

      .closeBar {
        width: 25vw;
        min-height: 0.5vh;
        border-radius: 0.75rem;
        margin-bottom: 0.5rem;
        background-color: #00000044;
        align-self: center;
      }
    }

    .baseInfo p {
      max-height: 5rem;
    }

    .content .episodesWrapper {
      display: flex;
      flex-direction: column;
      padding-bottom: 0.5rem;
      flex-grow: 1;
      overflow: hidden;
    }
  }

  .horizontal {
    .close {
      top: 1rem;
    }

    background-color: white;
    width: calc(100% - 2rem);
    height: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: row;

    .info {
      width: calc(55vh / 12 * 9);
      display: flex;
      flex-direction: column;

      img {
        border-radius: 1rem;
        aspect-ratio: 9/12;
        object-fit: cover;
        height: 55vh;
      }
    }

    .baseInfo {
      display: flex;
      flex-direction: column;
      height: calc(45vh - 4.5rem);

      .title {
        height: 3.5rem;
      }
    }

    .categories {
      transform: translateY(0.5rem);
    }

    .info p {
      height: 100%;
    }

    .episodesWrapper {
      margin-left: 1rem;
      height: calc(100% - 2rem);
      display: flex;
      flex-direction: column;
      width: calc(100%);
    }
  }
}

.horizontal-enter {
  transform: translateY(100%);
}

.horizontal-enter-active {
  transform: translateY(0);
  transition: transform 500ms;
}

.horizontal-exit-active {
  transform: translateY(100%);
  transition: transform 500ms;
}

.details .horizontalWrapper {
  height: 100%;
  width: 100%;
}
