#sync {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 0.75rem;
  cursor: pointer;

  div {
    display: flex;
    align-items: center;
    transform: translateY(0.25rem);
  }

  p {
    margin: 0;
    color: #cbcbcb;
  }
}

#histories {
  width: 100%;
  height: 100%;
  margin-top: 1rem;

  #empty {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-3rem);
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    opacity: 0.5;
    font-size: 1.5rem;
  }

  #historiesWrapper {
    overflow-y: scroll;
    scrollbar-width: none;
    height: 100%;
    width: 100%;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  #historiesContent {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(370px, 1fr));
    column-gap: 1rem;
    row-gap: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: max(env(safe-area-inset-bottom), 1rem);
  }

  .history {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;

    img {
      aspect-ratio: 9/12;
      object-fit: cover;
      border-radius: 0.5rem;
      width: 8rem;
      cursor: pointer;
    }

    .info {
      margin-left: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex-grow: 1;
      min-width: 0;

      h3 {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-top: 0;
        font-weight: bold;
      }

      h4 {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin: 0;
        color: #666;
        font-weight: normal;
      }

      h5 {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin: 0;
        color: #888;
        font-weight: normal;
      }

      .debugInfo {
        margin-top: 0.5rem;

        h5 {
          color: #006affaa;
          font-weight: bold;
        }
      }
    }

    .continue {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      width: 2rem;
    }
  }
}
