html,
body {
  user-select: none;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100vh;
  scroll-behavior: smooth;
  cursor: default;
  -webkit-tap-highlight-color: transparent;
}

#root {
  position: fixed;
}
