.upperMenu-enter {
  transform: translateY(-100%);
}

.upperMenu-enter-active {
  transform: translateY(0);
  transition: transform 500ms;
}

.upperMenu-exit-active {
  transform: translateY(-100%);
  transition: transform 500ms;
}

.upperMenuWrapper {
  position: absolute;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 2;
}

.upperMenu {
  width: 100%;
  background-color: #ffffffe5;
  backdrop-filter: blur(5px);
  padding: 1rem;
  padding-top: max(1rem, env(safe-area-inset-top));
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .close {
    padding: 0.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .pageOffset {
    display: flex;
    align-items: center;
    padding-right: 2rem;

    h3 {
      padding: 0;
      margin: 0;
      margin-right: 0.5rem;
    }
  }

  h2 {
    padding: 0;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: calc(100vw - 14rem);
  }
}

.lowerMenu-enter {
  transform: translateY(100%);
}

.lowerMenu-enter-active {
  transform: translateY(0);
  transition: transform 500ms;
}

.lowerMenu-exit-active {
  transform: translateY(100%);
  transition: transform 500ms;
}

.lowerMenuWrapper {
  position: absolute;
  width: 100vw;
  bottom: 0;
  left: 0;
  z-index: 2;
}

.lowerMenu {
  width: 100%;
  background-color: #ffffffe5;
  backdrop-filter: blur(5px);
  padding: 1rem;
  padding-bottom: max(1rem, env(safe-area-inset-bottom));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h3 {
    padding: 0;
    margin: 0;
  }

  .sliderWrapper {
    width: calc(100% - 5rem);
    padding-right: 2rem;
  }
}
