.readWrapper {
  height: 100%;
  width: 100%;
  position: relative;

  img {
    pointer-events: none;
  }
}

.read-enter {
  transform: translateX(100%);
}

.read-enter-active {
  transform: translateX(0);
  transition: transform 500ms;
}

.read-exit-active {
  transform: translateX(100%);
  transition: transform 500ms;
}

.read {
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  list-style-type: none;
  font-size: 0;
  background-color: white;
}

.readContainer {
  width: 100vw;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row-reverse;
  transition: width 500ms;
  list-style-type: none;
  padding: 0;
  margin: 0;

  .spacer {
    width: 50%;
  }

  img {
    width: 100%;
  }
}
