.readWrapper {
  height: 100%;
  width: 100%;
  position: relative;

  img {
    pointer-events: none;
  }
}

.read-enter {
  transform: translateX(100%);
}

.read-enter-active {
  transform: translateX(0);
  transition: transform 500ms;
}

.read-exit-active {
  transform: translateX(100%);
  transition: transform 500ms;
}

.read {
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  list-style-type: none;
  font-size: 0;
  background-color: white;
  overflow-y: scroll;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  .readContent {
    padding-top: env(safe-area-inset-top);

    .episodes {
      display: flex;
      flex-direction: row-reverse;
      width: 100%;
      flex-wrap: wrap;

      .spacer {
        width: 50%;
      }

      img {
        width: 100%;
        pointer-events: none;
      }
    }
  }
}
