.warning {
  background-color: #00000044;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;

  .warningContainer {
    display: flex;
    flex-direction: column;
    background-color: #ffffff88;
    color: black;
    backdrop-filter: blur(10px);
    padding: 1rem;
    border-radius: 2rem;
    aspect-ratio: 1;
    justify-content: center;
    align-items: center;

    h2 {
      padding: 0;
      margin: 0;
    }
  }
}
